<<<<<<< HEAD
 /*遮蔽层*/
<<<<<<< HEAD
.pop-box{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, .8);
=======
.pop-box{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.7);
>>>>>>> gh-pages
display: none;z-index: 999;}

/*登录*/
.login-win,.video-win{position: fixed;left: 50%;top: 50%;display: none;}
<<<<<<< HEAD
.login-win{width: 296px;height: 208px;margin: -144px 0 0 -195px;background-color: #fff;padding: 40px 52px 40px 40px;}
=======
.login-win{width: 296px;height: 208px;margin: -144px 0 0 -195px;background-color: #fff;padding: 40px 53px 40px 40px;}
>>>>>>> gh-pages
.login-win h1{color: #444;font-size: 18px;font-weight: inherit;}
.login-win .user-name,.login-win .password{border: 1px solid #dfdfdf;box-sizing: border-box;
width: 293px;height: 45px;background-color: #fafafa;margin-bottom: 15px;}
.login-win .form-div{border-top: 2px solid #f1f1f1;border-left: 2px solid #f1f1f1;}
<<<<<<< HEAD
.login-win input{line-height: 39px;height: 39px;width: 284px;border: none;font-size: 16px;color: #ccc;
=======
.login-win label{display: inline-block;width: 42px;text-indent: 10px;color: #ccc;font-size: 16px;
border: none;text-align: center;vertical-align: middle;}
.login-win input{line-height: 38px;height: 39px;width: 241px;border: none;font-size: 14px;color: #666;
>>>>>>> gh-pages
text-indent: 4px;outline: 0;background-color: #fafafa;vertical-align: middle;}
.login-win .submit{border: none;background-color: #fff;}
.login-win #submit{width: 295px;height: 48px;color: #fff;font-size: 16px;background-image: url(../img/Sprites.png);
background-repeat: no-repeat;background-position: -3px -180px;text-align: center; line-height: 48px; cursor: default;}
<<<<<<< HEAD
.submit button{border: none;background-color: transparent;}
=======
>>>>>>> gh-pages
.login-win .password{margin-bottom: 25px;}
.login-win p{color: #e61313; margin-top: 6px;}
.off-win{position: absolute;top: 4px;right: 4px;width: 20px;height: 20px;background-image: url(../img/Sprites.png);
background-repeat: no-repeat;background-position: -117px -20px;cursor: pointer;}

/*视频*/
.video-win{padding: 20px 20px 30px 20px;margin: -270px 0 0 -465px;background-color: #fff;}
.video-win h1{color: #444;font-size: 18px;font-weight: inherit;margin-bottom: 15px;}
#videoPlay{width: 887px;}
=======
.pop-box {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 999;
}

.login-win,
.video-win {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
}

.login-win {
	width: 296px;
	height: 208px;
	margin: -144px 0 0 -195px;
	background-color: #fff;
	padding: 40px 53px 40px 40px;
}

.login-win h1 {
	color: #444;
	font-size: 18px;
	/*margin-bottom: 12px;*/
	font-weight: inherit;
}

.login-win form div {
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	width: 293px;
	height: 45px;
	background-color: #fafafa;
	margin-bottom: 15px;
	border: inset 1px solid #f1f1f1;
	border
}

.login-win label {
	display: inline-block;
	width: 42px;
	text-indent: 10px;
	color: #ccc;
	font-size: 16px;
	border: none;
	text-align: center;
	vertical-align: middle;
	/*border-left: 2px solid #f1f1f1;*/
}

.login-win input {
	line-height: 41px;
	width: 230px;
	border: none;
	font-size: 14px;
	color: #666;
	text-indent: 4px;
	outline: 0;
	background-color: #fafafa;
}

.login-win .submit {
	border: none;
	background-color: #fff;
	box-shadow: 2px 2px 2px #d5e3da;
}

.login-win .password {
	margin-bottom: 25px;
}

.login-win #submit {
	width: 293px;
	height: 45px;
	color: #fff;
	font-size: 16px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -3px -180px;
}

.off-win {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	background-image: url(../img/Sprites.png);
	background-repeat: no-repeat;
	background-position: -117px -20px;
	cursor: pointer;
}

.video-win {
	padding: 20px 20px 30px 20px;
	margin: -330px 0 0 -454px;
	background-color: #fff;
}

.video-win h1 {
	color: #444;
	font-size: 18px;
	font-weight: inherit;
	margin-bottom: 15px;
}

#videoPlay {
	width: 887px;
}
>>>>>>> parent of 2e5a4f1... 更新的master
